/* font */
@import url(./font.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --basicQuart: cubic-bezier(0, 0, 0.2, 1);
    --easeOutQuart: cubic-bezier(0.25, 1, 0.5, 1);
    --primary: #ff324b;
    --hotpink: #ff329b;
    --primary-gradient: linear-gradient(276deg,var(--hotpink) 5%,var(--primary) 95%);
}

/* 다크모드 */
@media (prefers-color-scheme: dark) {
    :root {
        --primary-text-color: #fff;
        --scrollbar-color-track: #424242;
        --scrollbar-color-thumb: #686868;
    }

    @supports (scrollbar-width: auto)
    {
        * {
            scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
        }
    }
}


/* 폰트 관련 커스텀 스타일 */
@layer base {
    .bg-primary {
        background-color: var(--primary);
    }
    .border-primary {
        border-color: var(--primary);
    }
    .text-primary {
        color: var(--primary);
    }
    body {
        @apply text-slate-800;
    }
    hr {
        @apply border-slate-200;
    }
    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl;
        @apply leading-tight;
    }
    h2 {
        @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-6xl;
        @apply leading-tight;
    }
    h3 {
        @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-5xl;
        @apply leading-tight;
    }
    h4 {
        @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-4xl;
        @apply leading-tight;
    }
    h5 {
        @apply text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-3xl;
        @apply leading-tight;
    }
    h6 {
        @apply text-base sm:text-lg md:text-xl lg:text-2xl xl:text-2xl;
        @apply leading-tight;
    }
    p {
        @apply text-xs md:text-sm xl:text-base;
        @apply leading-tight;
    }
    .default-text-input {
        @apply relative inline-flex flex-col rounded bg-white;
    }
    .default-icon-svg {
        @apply fill-current block w-full h-full select-none text-2xl;
    }
    .default-app-bar {
        @apply flex flex-col w-full box-border z-50 bg-white/[.8] backdrop-blur shadow;
    }
    .default-button {
        @apply relative inline-flex justify-center items-center w-auto min-w-16 px-6 py-2.5 rounded-lg align-middle appearance-none box-border no-underline font-bold text-sm leading-[1.2] disabled:bg-slate-400;
    }
    .default-select {
        @apply relative inline-flex flex-col min-w-[120px];
    }
    .default-button-contained {
        @apply text-white bg-primary;
    }
    .default-button-outlined {
        @apply text-primary border border-primary;
    }
    .default-table-tr {
        @apply table-row text-inherit border-b border-slate-100 align-middle outline-0 text-sm;
    }
    .default-transfer-list-wrap {
        @apply inline-flex flex-wrap py-5 px-6 items-center rounded box-border border bg-slate-100 overflow-hidden;
    }
    .default-transfer-list-box {
        @apply rounded bg-white shadow-md overflow-auto scrollbar-hide;
    }
    .default-transfer-list-item {
        @apply grid min-h-3 px-4 py-1 hover:bg-slate-100 transition;
    }
}

@layer utilities {
    .bg-primary-gradient {
        background-image: var(--primary-gradient);
    }
    .bg-full {
        @apply bg-cover bg-no-repeat bg-center
    }
    .transition-text-input-label {
        transition: color 200ms var(--basicQuart) 0ms, transform 200ms var(--basicQuart) 0ms, max-width 200ms var(--basicQuart) 0ms
    }
    .transition-text-input-legend {
        transition: max-width 50ms var(--basicQuart) 0ms;
    }
}